<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>装备管理</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/node_modules/toastr/build/toastr.css">
  <link rel="stylesheet" href="../common/css/jquery.pagination.css">
  <style>
    .delete {
      color: blue;
      cursor: pointer;
    }

    .edit {
      color: blue;
      cursor: pointer;
    }

    #tbody>tr>td {
      text-align: center;
    }

    th {
      text-align: center;
    }

    .nowrap {
      width: 130px;
      height: 44px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-wrap: break-word;
      /*支持英文*/
    }

    .btn {
      color: white;
    }

    #myBtn {
      position: fixed;
      left: 10px;
      bottom: 10px;
    }
  </style>
</head>

<body style="padding:10px">

  <!-- 装备管理 -->


  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>标题</th>
        <th>图片</th>
        <th>内容</th>
        <th>链接</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <tr>



      </tr>
    </tbody>
  </table>


  <button id="myBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增</button>

  <!-- 新增  模态框（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>新增</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入标题" id="addTitle">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入内容" id="addContent">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入链接" id="addUrl">
            </div>
            <div class="form-group">
              <input type="file" id="img" name="img">
              <img id="photo" src="" last="" width="150" height="80" class="img-thumbnail Rotation">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default addCancer" data-dismiss="modal">
            取消
          </button>
          <button type="button" class="btn btn-primary" id="addBtn">
            添加
          </button>
        </div>
      </div>
    </div>
  </div>


  <!--编辑  模态框（Modal） -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>编辑</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入标题" id="editTitle">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入内容" id="editContent">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入链接" id="editUrl">
            </div>
            <div class="form-group">
              <input type="file" id="img2" name="img">
              <img id="photo2" src="" last="" width="150" height="80" class="img-thumbnail Rotation">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default editCancer" data-dismiss="modal">
            取消
          </button>
          <button type="button" class="btn btn-primary" id="editBtn">
            修改
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="pagination1" class="page fl"></div>

  <script type="text/javascript" src="../common/lib/jquery-1.9.0.min.js"></script>
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../common/lib/jquery.pagination.min.js"></script>
  <script type="text/javascript" src="/node_modules/toastr/build/toastr.min.js"></script>
</body>

</html>
<script>
  $(function () {

    toastr.options.positionClass = 'toast-top-center';




    getEquipAllData(1);
    //获取所有装备内容
    function getEquipAllData(pageNo) {
      $.ajax({
        type: 'get',
        url: "/EquipAllData?pageNo=" + pageNo,
        dataType: "json",
        success: function (result) {
          if (result.code == 200) {
            var html = '';
            for (let i = 0; i < result.data.length; i++) {
              html += `<tr>
                         <td>${i + 1}</td>
                         <td><div class='nowrap'>${result.data[i].Title}</div></td>
                         <td><img src="../../mobile/images/${result.data[i].img}" height='35' width='90' class="img-thumbnail Rotation"></td>
                         <td><div class='nowrap'>${result.data[i].content}</div></td>
                         <td><div class='nowrap'>${result.data[i].Link}</div></td>                       
                         <td>
                             <div class='nowrap'>
                                  <button type="button" class="btn btn-danger delete" delID='${result.data[i].ID}' >删除</button>
                                  <button type="button" class="btn btn-info edit" data-toggle="modal" data-target="#myModal2" editID='${result.data[i].ID}'>编辑</button>
                             </div>
                        </td>
                       </tr>`;
            }
            $('#tbody').html(html);

            var totalPage = Math.ceil(result.total / 5);
            $("#pagination1").pagination({
              currentPage: Number(result.currentPage),
              totalPage: totalPage,
              callback: function (current) {
                $("#current1").text(current);
                getEquipAllData(current);
              }
            });

          } else {
            toastr.error(result.msg);
          }
        }
      });
    }

    //删除   事件委托
    $('#tbody').on('click', '.delete', function () {
      var delID = $(this).attr('delID');
      $.ajax({
        type: 'post',
        data: 'id=' + delID,
        url: "/deleteEquip",
        dataType: "json",
        success: function (result) {
          if (result.code == 200) {
            toastr.success(result.msg);
            getEquipAllData(1);
          } else {
            toastr.error(result.msg);
          }
        }
      });


    })

    //新增
    $('#addBtn').on('click', function () {

      if ($('#addTitle')[0].value.trim() == '') {
        toastr.warning('请输入标题！');
        return;
      }
      if ($('#addUrl')[0].value.trim() == '') {
        toastr.warning('请输入链接！');
        return;
      }

      if (isValidURL($('#addUrl')[0].value.trim()) == false) {
        toastr.warning('请输入有效链接！');
        return;
      }



      data = {
        Title: $('#addTitle')[0].value.trim(),
        content: $('#addContent')[0].value.trim(),
        Link: $('#addUrl')[0].value.trim(),
        img: $("#photo").attr("src"),
      }

      $.ajax({
        type: 'post',
        url: "/addEquip",
        data: data,
        dataType: "json",
        success: function (result) {
          if (result.code == 200) {
            toastr.success('添加成功！');

            setTimeout(() => {
              location.reload()
            }, 1000);

            $('#addTitle')[0].value = '';
            $('#addContent')[0].value = '';
            $('#addUrl')[0].value = '';
            $('#photo')[0].src = '';
            $('#img').val('');
            $('#myModal').modal('hide')
          } else {
            toastr.error('添加失败！');
          }
        }
      });

    })

    //新增取消
    $('.addCancer').on('click', function () {
      $('#addTitle')[0].value = '';
      $('#addContent')[0].value = '';
      $('#addUrl')[0].value = '';
      $('#photo')[0].src = '';
      $('#img').val('');
    })

    //获取编辑信息   事件委托
    $('#tbody').on('click', '.edit', function () {

      $('#editTitle')[0].value = '';
      $('#editContent')[0].value = '';
      $('#editUrl')[0].value = '';
      $('#photo2')[0].src = '';
      $('#img2').val('');

      var editID = $(this).attr('editID');
      $.ajax({
        type: 'post',
        data: 'id=' + editID,
        url: "/getEquip",
        dataType: "json",
        success: function (result) {
          if (result.code == 200) {
            $('#editTitle')[0].value = result.data[0].Title;
            $('#editContent')[0].value = result.data[0].content;
            $('#editUrl')[0].value = result.data[0].Link;
            $('#photo2')[0].src = '../../mobile/images/' + result.data[0].img;
            $('#editBtn').attr('editID', editID);  //自定义属性
            // $('#myModal2').modal('toggle');
          } else {
            toastr.error(result.msg);
          }
        }
      });

    })


    function isValidURL(url) {
      var urlRegExp = /^((https|http|ftp|rtsp|mms)?:\/\/)+[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
      if (urlRegExp.test(url)) {
        return true;
      } else {
        return false;
      }
    }


    $('#editBtn').on('click', function () {

      if ($('#editTitle')[0].value.trim() == '') {
        toastr.warning('标题不能为空！');
        return;
      }
      if ($('#editUrl')[0].value.trim() == '') {
        toastr.warning('链接不能为空！');
        return;
      }

      if (isValidURL($('#editUrl')[0].value.trim()) == false) {
        toastr.warning('请输入有效链接！');
        return;
      }

      data = {
        Title: $('#editTitle')[0].value.trim(),
        content: $('#editContent')[0].value.trim(),
        Link: $('#editUrl')[0].value.trim(),
        img: $("#photo2").attr("src"),
        id: $(this).attr('editID')
      }

      $.ajax({
        type: 'post',
        data: data,
        url: "/editEquip",
        dataType: "json",
        success: function (result) {
          console.log(result);
          if (result.code == 200) {
            toastr.success('修改成功！');
            setTimeout(() => {
              location.reload()
            }, 1000);
            $('#myModal2').modal('hide');
          } else {
            toastr.error(result.msg);
          }
        }
      });


    })


    // 当用户选择图片之后，就立即进行图片的上传（新增时）
    $("#img").on("change", () => {
      var formdata = new FormData();
      var file = document.getElementById("img").files[0];
      //用户取消上传时return;
      if (file == undefined) {
        return;
      }
      formdata.append("img", file);
      // 重新选择图片上传的时候，将上次已经成功上传的文件名称传递到服务器，让服务器根据名称进行删除
      // 注意，它是一个字符串值，并不是图片对象
      formdata.append("last", $("#photo").attr("last"));
      $.ajax({
        type: "post",
        // url: "/editHeadportrait",
        url: "/uploadImg",
        data: formdata,
        // 因为图片上传需要做预览操作，所以需要服务器返回对应的数据
        dataType: "json",
        // 通过formdata传递参数必须添加两个属性设置 
        processData: false, //告诉浏览器我自己来传递参数
        contentType: false, // 告诉浏览器不要对数据进行默认的编码，我自己来编码
        success: function (result) {
          if (result.code == 200) {
            $("#photo").attr("src", "../../mobile/images/" + result.img);
            // 将当前成功上传的文件名称存储到自定义属性中
            $("#photo").attr("last", result.img);
            toastr.success('图片上传成功！');
          } else {
            toastr.error('图片上传失败！');
          }
        }
      });
    });


    // 编辑时的图片修改
    $("#img2").on("change", () => {
      var formdata = new FormData();
      var file = document.getElementById("img2").files[0];
      //用户取消上传时return;
      if (file == undefined) {
        return;
      }
      formdata.append("img", file);
      // 重新选择图片上传的时候，将上次已经成功上传的文件名称传递到服务器，让服务器根据名称进行删除
      // 注意，它是一个字符串值，并不是图片对象
      formdata.append("last", $("#photo2").attr("last"));
      $.ajax({
        type: "post",
        // url: "/editHeadportrait",
        url: "/uploadImg",
        data: formdata,
        // 因为图片上传需要做预览操作，所以需要服务器返回对应的数据
        dataType: "json",
        // 通过formdata传递参数必须添加两个属性设置 
        processData: false, //告诉浏览器我自己来传递参数
        contentType: false, // 告诉浏览器不要对数据进行默认的编码，我自己来编码
        success: function (result) {
          if (result.code == 200) {
            $("#photo2").attr("src", "../../mobile/images/" + result.img);
            // 将当前成功上传的文件名称存储到自定义属性中
            $("#photo2").attr("last", result.img);
            toastr.success('图片上传成功！');
          } else {
            toastr.error('图片上传失败！');
          }
        }
      });
    });








  })
</script>