* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100px;
}

#offCanvasContentScroll {
  background: white;
}

ul li {
  list-style: none;
}

.mui-search {
  position: fixed;
  top: 4%;
  left: 20%;
  width: 60%;
}

.menu{
margin-top: 2.8rem;
margin-bottom: .2rem;
}
