<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 理想视窗 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>登录</title>
    <link rel="shortcut icon" href="mobile/favicon.ico" />
    <!-- 添加ico -->
    <link rel="stylesheet" href="mobile/lib/mui/css/mui.min.css" />
    <!-- <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.min.css" /> -->
    <!-- 字体图标用阿里巴巴的 或者 Mui icon图标 -->
    <link rel="stylesheet" href="mobile/css/common.css" />
    <!-- 公共样式 顶部侧滑的是公共的-->
    <style>
        html {
            background: white;
        }

        .Ali {
            position: absolute;
            width: 150px;
            height: 150px;
            left: 50%;
            transform: translateX(-50%);
        }

        .mui-content {
            background: white;
        }

        #login {
            position: relative;
            top: 0.6rem;
            left: -0.3rem;
        }

        #reg {
            position: relative;
            top: 0.6rem;
            left: 0.3rem;

        }
    </style>
</head>

<body>

    <header class="mui-bar mui-bar-nav">

        <a href="javascript:history.go(-1)" class="mui-icon mui-icon-back" style="color:black"></a>

        <h1 class="mui-title">登录</h1>
    </header>

    <div class="mui-content">

        <img class="Ali" src="mobile/images/login1.png" alt="">

        <div class="mui-input-group">

            <div class="mui-input-row" style="margin-top:150px;">
                <label>帐号</label>
                <input type="text" class="mui-input-clear" placeholder="请输入帐号" id="LoginName" value="user">
            </div>
            <div class="mui-input-row">
                <label>密码</label>
                <input type="password" class="mui-input-clear" placeholder="请输入密码" id="LoginPwd" value="123456">
            </div>
        </div>
        <!-- //注意：登录按钮不能和账号密码输入框放在一个form里面 -->
        <div class="mui-content-padded" align="center">
            <button type="button" class="mui-btn mui-btn-blue" id="login">登陆</button>
            <button type="button" class="mui-btn mui-btn-green" id="reg">注册</button>
        </div>
    </div>




</body>

</html>
<script src="mobile/lib/zepto/zepto.min.js"></script>
<!-- 移动端jquery -->
<script src="mobile/lib/mui/js/mui.min.js"></script>
<!-- mui -->
<script src="mobile/lib/artTemplate/template-native.js"></script>
<!-- 模板引擎，不用拼接字符串 -->
<script src="mobile/js/common.js"></script>
<!-- 公共js工具 包括 全局ajax工具函数 -->
<script>
    $(function () {

        // 睁眼与捂眼
        $('#LoginPwd').on('focus', function () {
            $('.Ali').attr('src', 'mobile/images/login2.png');
        })
        $('#LoginPwd').on('blur', function () {
            $('.Ali').attr('src', 'mobile/images/login1.png');
        })

        $('#reg').on('tap', function () {
            window.location.href = "/register";
        })


        $('#login').on('tap', function () {
            // 登录验证
            if ($('#LoginName')[0].value.trim() == '') {
                mui.toast('请输入账号！');
                return;
            }
            if ($('#LoginPwd')[0].value.trim() == '') {
                mui.toast('请输入密码！');
                return;
            }
            if ($('#LoginPwd').val().length < 6) {
                mui.toast('密码不能小于6位数！');
                return;
            }

            var data = {
                LoginName: $('#LoginName')[0].value.trim(),
                LoginPwd: $('#LoginPwd')[0].value.trim(),
            }


            $.ajax({
                type: 'post',
                url: "/login",
                data: data,
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        mui.confirm('是否跳转到个人中心？', `${result.msg}`, ['否', '是'], function (e) {
                            if (e.index == 1) {
                                window.location.href = "/personalCenter";
                            } else {
                                window.location.href = "/";
                            }
                        })
                    } else {
                        mui.toast(result.msg);
                    }
                }
            });


        })






    })


</script>