<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- 理想视窗 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>千旅客网-结伴</title>
  <link rel="shortcut icon" href="jd.ico" />
  <!-- 添加ico -->
  <link rel="stylesheet" href="mobile/lib/mui/css/mui.min.css" />
  <!-- <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.min.css" /> -->
  <!-- 字体图标用阿里巴巴的 或者 Mui icon图标 -->
  <link rel="stylesheet" href="mobile/css/common.css" />
  <!-- 日期选择器 -->
  <link rel="stylesheet" href="mobile/lib/mui/css/mui.picker.min.css">
  <!-- 公共样式 顶部侧滑的是公共的-->
  <style>
    .addBtnBox {
      padding: 0.2rem;
      box-sizing: border-box;
      margin-bottom: -5px;
    }

    #picker {
      height: 40px;
      font-size: 17px;
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: left;
      padding: 8px 12px;
      color: #828282;
    }

    #add {
      font-size: 17px;
    }
  </style>


</head>

<body>

  <!-- 侧滑导航根容器 -->
  <div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
    <!-- 菜单容器 -->
    <aside class="mui-off-canvas-right">
      <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <!-- 菜单具体展示内容 -->

          <p style="color:white;font-size:.38rem;margin:.2rem 0 .2rem .2rem;">宗旨</p>
          <div style="color:#bbb;font-size:.23rem;padding:0 .2rem .2rem .2rem;text-align:left;">
            千旅客网致力建设成为背包客驴友穷游时提供最全面最方便的旅行信息和服务。
          </div>
          <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted menu">
            <li class="mui-table-view-cell">
              <a href="/#" class="mui-navigate-right">
                首页
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="javascript:;" class="mui-navigate-right">
                注册
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="./user/login.html" class="mui-navigate-right">
                登录
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="./user/personalCenter.html" class="mui-navigate-right">
                个人中心
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="javascript:;" class="mui-navigate-right">
                我的文章
              </a>
            </li>

          </ul>

          <button id="offCanvasHide" type="button" class="mui-btn mui-btn-danger mui-btn-block" style="padding: 5px 10px;margin-top:40px;">关闭侧滑菜单</button>

        </div>
      </div>
    </aside>
    <!-- 主页面容器 -->
    <div class="mui-inner-wrap">
      <!-- 主页面标题 -->
      <header class="mui-bar mui-bar-nav">
        <span id="left-menu" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></span>

        <a href="/companion" class="mui-icon mui-icon-back" style="color:black"></a>

        <h1 class="mui-title">发布结伴信息</h1>

      </header>
      <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll" style="padding:0.3rem;">

          <input type="text" id='title' class="mui-input-clear"  maxlength="18" placeholder="请输入标题">

          <input id="picker" class="btn mui-btn mui-btn-block" placeholder="请选择出发时间">

          <input type="text" id="startPoint" class="mui-input-clear" maxlength="25" placeholder="请输入出发地点">

          <input type="text" id="termini" class="mui-input-clear" maxlength="25" placeholder="请输入目的地点">

          <input type="text" id="phone" class="mui-input-clear" placeholder="请输入联系方式" maxlength="16">

          <textarea id='content' rows="5" placeholder="请输入内容"></textarea>

          <div class="addBtnBox">
            <button type="button" id='add' class="mui-btn mui-btn-primary mui-icon mui-icon-plus mui-btn-block" style="height:100%">发布</button>
          </div>


        </div>
      </div>
    </div>
  </div>


</body>

</html>
<script src="mobile/lib/zepto/zepto.min.js"></script>
<!-- 移动端jquery -->
<script src="mobile/lib/mui/js/mui.min.js"></script>
<!-- mui -->
<script src="mobile/lib/artTemplate/template-native.js"></script>
<!-- 模板引擎，不用拼接字符串 -->
<script src="mobile/js/common.js"></script>
<!-- 公共js工具 包括 全局ajax工具函数 -->
<script src="mobile/lib/mui/js/mui.picker.min.js"></script>
<!-- 日期选择器 -->
<script>

  $(function () {

    mui.init();
    var btns = mui('.btn');
    btns.each(function (i, btn) {
      btn.addEventListener('tap', function () {
        var dtPicker = new mui.DtPicker({
          "type": "date"
        });
        dtPicker.show(function (params) {
          $('#picker').val(params.value);
        });

      }, false);
    });


    function clear() {
      $('#title').val('');
      $('#picker').val('');
      $('#startPoint').val('');
      $('#termini').val('');
      $('#phone').val('');
      $('#content').val('');
    }



    $('#add').on('tap', function () {


      if ($('#title')[0].value.trim() == '') {
        mui.toast('标题不能为空！');
        return;
      }
      if ($('#picker')[0].value.trim() == '') {
        mui.toast('出发时间不能为空！');
        return;
      }
      if ($('#startPoint')[0].value.trim() == '') {
        mui.toast('出发地点不能为空！');
        return;
      }
      if ($('#termini')[0].value.trim() == '') {
        mui.toast('目的地不能为空！');
        return;
      }
      if ($('#phone')[0].value.trim() == '') {
        mui.toast('联系方式不能为空！');
        return;
      }
      if ($('#content').val() == '') {
        mui.toast('内容不能为空！');
        return;
      }

      var data = {
        Title: $('#title')[0].value.trim(),
        StartDate: $('#picker')[0].value.trim(),
        Startpoint: $('#startPoint')[0].value.trim(),
        Termini: $('#termini')[0].value.trim(),
        Phone: $('#phone')[0].value.trim(),
        Content: $('#content').val()
      }


      $.ajax({
        type: 'post',
        url: "/addCompanioninfo",
        data: data,
        dataType: "json",
        success: function (result) {
          if (result.code == 1) {

            var btnArray = ['否', '是'];
            mui.confirm('是否跳转到结伴信息页面？', `${result.msg}`, btnArray, function (e) {
              if (e.index == 1) {
                window.location.href = "/companion";
              } else {
                console.log('取消');
                clear();  //清空所有输入的信息
              }
            })

          } else {
            mui.toast('发布失败，请稍后重试！');
          }
        }
      });
    })


  })



</script>