<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- 理想视窗 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>千旅客网-首页</title>
  <link rel="shortcut icon" href="jd.ico" />
  <!-- 添加ico -->
  <link rel="stylesheet" href="mobile/lib/mui/css/mui.min.css" />
  <!-- <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.min.css" /> -->
  <!-- 字体图标用阿里巴巴的 或者 Mui icon图标 -->
  <link rel="stylesheet" href="mobile/css/common.css" />
  <!-- 公共样式 顶部侧滑的是公共的-->
  <link rel="stylesheet" href="mobile/css/index.css" />
  <link rel="stylesheet" href="mobile/css/dialog.css" />
</head>

<body>

  <!-- 侧滑导航根容器 -->
  <div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
    <!-- 菜单容器 -->
    <aside class="mui-off-canvas-right">
      <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <!-- 菜单具体展示内容 -->

          <p style="color:white;font-size:.38rem;margin:.2rem 0 .2rem .2rem;">名言</p>
          <div style="color:#bbb;font-size:.23rem;padding:0 .2rem .2rem .2rem;text-align:left;">
            人生至少要有两次冲动，一为奋不顾身的爱情，一为说走就走的旅行。
          </div>
          <ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted menu">
            <li class="mui-table-view-cell">
              <a href="/#" class="mui-navigate-right">
                首页
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="/register" class="mui-navigate-right">
                注册
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="/login" class="mui-navigate-right">
                登录
              </a>
            </li>
            <li class="mui-table-view-cell">
              <a href="/personalCenter" class="mui-navigate-right">
                个人中心
              </a>
            </li>
          </ul>

          <button id="offCanvasHide" type="button" class="mui-btn mui-btn-danger mui-btn-block" style="padding: 5px 10px;margin-top:40px;">关闭侧滑菜单</button>

        </div>
      </div>
    </aside>
    <!-- 主页面容器 -->
    <div class="mui-inner-wrap">
      <!-- 主页面标题 -->
      <header class="mui-bar mui-bar-nav">
        <span id="left-menu" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></span>

        <div class="mui-input-row mui-search">
          <!-- <input type="search" class="mui-input-clear" placeholder="青年旅社"> -->
          <input type="search" class="mui-input-clear" placeholder="天气查询" id="weatherSearch">
        </div>

      </header>
      <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
          <!-- 主界面具体展示内容 -->

          <!-- 轮播图 -->
          <div class="mui-slider">
            <div class="mui-slider-group mui-slider-loop" id="rotation">
              <!--支持循环，需要重复图片节点-->
              <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                  <img src="mobile/images/4.jpg" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/1.jpg" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/2.jpg" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/3.jpg" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/4.jpg" />
                </a>
              </div>
              <!--支持循环，需要重复图片节点-->
              <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                  <img src="mobile/images/1.jpg" />
                </a>
              </div>
            </div>
            <div class="mui-slider-indicator">
              <div class="mui-indicator mui-active"></div>
              <div class="mui-indicator"></div>
              <div class="mui-indicator"></div>
              <div class="mui-indicator"></div>
            </div>
          </div>

          <ul class="liebiao">
            <li>
              <a href="/companion">
                <img src="mobile/images/a1.png">
                <p>结伴</p>
              </a>
            </li>
            <li>
              <a href="mobile/equip.html">
                <img src="mobile/images/a4.png">
                <p>装备</p>
              </a>
            </li>
            <li>
              <a href="mobile/food.html">
                <img src="mobile/images/a7.png">
                <p>美食</p>
              </a>
            </li>
            <li>
              <a href="mobile/beautiful.html">
                <img src="mobile/images/a8.png">
                <p>美景</p>
              </a>
            </li>
            <div class="clear"></div>
          </ul>

          <!-- tab 结合横向滚动 -->
          <div id="box" >
            <!-- <ul class="mui-scroll">
              <li class="mui-control-item mui-active">
                结伴
              </li>
              <li class="mui-control-item">
                沙发客
              </li>
              <li class="mui-control-item">
                召集令
              </li>
              <li class="mui-control-item">
                游记
              </li>
              <li class="mui-control-item">
                资讯
              </li>
              <li class="mui-control-item">
                攻略
              </li>
              <li class="mui-control-item">
                美食
              </li>
              <li class="mui-control-item">
                美景
              </li>
            </ul> -->

            <div style="display: block;">
              {{each companion}}
              <a href="/companionDetail?CP_ID={{$value.CP_ID}}">
                <img src="mobile/images/{{$value.Headportrait}}" alt="">
                <span>{{$value.Title}}</span>
                <span>{{$value.StartDate}}</span>
                <span>{{$value.Content}}</span>
              </a>
              {{/each}}
              <a style="height:0.8rem;line-height:0.8rem;color:#333;  " href="/companion">更多...</a>
            </div>
 
          </div>

        </div>
      </div>
    </div>
  </div>

  <div></div>


</body>

</html>
<script src="mobile/lib/zepto/zepto.min.js"></script>
<!-- 移动端jquery -->
<script src="mobile/lib/mui/js/mui.min.js"></script>
<!-- mui -->
<script src="mobile/lib/artTemplate/template-native.js"></script>
<!-- 模板引擎，不用拼接字符串 -->
<script src="mobile/js/common.js"></script>
<!-- 公共js工具 包括 全局ajax工具函数 -->
<script src="mobile/js/dialog.js"></script>
<!-- 对话框 -->
<script src="mobile/js/index.js"></script>
<script>
  $(function () {

    getRotation();
    //获取首页轮播图
    function getRotation() {
      $.ajax({
        type: 'get',
        url: "/getRotation",
        dataType: "json",
        success: function (result) {
          // console.log(result);
          if (result.code == 200) {
            var html = '';
            html = `<div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                  <img src="mobile/images/${result.data[3].picture}" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/${result.data[0].picture}" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/${result.data[1].picture}" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/${result.data[2].picture}" />
                </a>
              </div>
              <div class="mui-slider-item">
                <a href="#">
                  <img src="mobile/images/${result.data[3].picture}" />
                </a>
              </div>
              <!--支持循环，需要重复图片节点-->
              <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                  <img src="mobile/images/${result.data[0].picture}" />
                </a>
              </div>`
            $('#rotation').html(html);
          } else {
            mui.toast(result.msg);
          }
        }
      });
    }

    //这里的请求会触发多次，我也不知道为什么，用个flag控制一下
    var flag = 0;
    $('#weatherSearch').on('focus', function () {
      flag = 1
      $(document).keyup(function (e) {//捕获文档对象的按键弹起事件  
        if (e.keyCode == 13) {//按键信息对象以参数的形式传递进来了 
          if (flag == 1) {
            console.log('6666666666');
            var data = {};
            data.city = $('#weatherSearch')[0].value.trim();
            $.ajax({
              type: 'post',
              url: "/getWeather",
              data: data,
              dataType: "json",
              success: function (result) {
                if (result.code == 200) {
                  console.log(result.data.weatherinfo);
                  var info = result.data.weatherinfo;
                  $.dialog({
                    width: '100px',
                    titleText: `${info.city}天气`,
                    contentHtml: `<p>今&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天：&nbsp;&nbsp;&nbsp;&nbsp;${info.weather}</p> 
                      <p>最低气温：&nbsp;&nbsp;&nbsp;&nbsp${info.temp1}</p> 
                      <p>最高气温：&nbsp;&nbsp;&nbsp;&nbsp${info.temp2}</p>
                      <p>发布时间：&nbsp;&nbsp;&nbsp;&nbsp${info.ptime}</P>
                      `
                  });
                } else {
                  mui.toast(result.msg);
                  flag = 1;
                }
              }
            });
          }
          flag++;
        }
      });
    })



  })
</script>